[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tsvenkat
[access "refs/for/refs/*"]
	read = group user/tsvenkat
	push = group user/tsvenkat
	label-Code-Review = -2..+2 group user/tsvenkat
	label-Verified = -1..+1 group user/tsvenkat
	rebase = group user/tsvenkat
	removeReviewer = group user/tsvenkat
	submit = group user/tsvenkat
[access "refs/heads/*"]
	read = group user/tsvenkat
	create = group user/tsvenkat
	push = +force group user/tsvenkat
	pushMerge = group user/tsvenkat
[access "refs/tags/*"]
	push = +force group user/tsvenkat
	pushTag = group user/tsvenkat
	pushSignedTag = group user/tsvenkat
